.wrapperclass{
    background-color: rgba(219, 219, 219, 0.856);
}
.menuTiles{
    margin-top: 150px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    
}
.wrapper .searchbox{
    background-color: khaki;
    background-color: black;
}
.wrapperclass .slider{
    margin-top: 1150px;
}